﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/angular-material.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
        md-toast.md-error-toast-theme div.md-toast-content {
            color: white !important;
            background-color: red !important;
        }

        md-toast.md-success-toast-theme div.md-toast-content {
            color: white !important;
            background-color: green !important;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="login-logo"><img src="~/Content/Images/CompanyLogo.png" /></div>
        <div class="form-login md-shadow-bottom-z-1">
            <form ng-app="CarParkingSystemApp" ng-controller="LoginController" ng-submit="submitForm()"
                  name="loginForm" novalidate class="login active" form-autofill-fix ng-cloak>
                <span us-spinner="{radius:30, width:8, length: 16}"></span>
                <title>{{ 'Login' | translate }}</title>
                <div class="form-group" style="width:40%">
                    <md-select ng-model="defaultLangOption.selected" ng-change="updateLanguage()">
                        <md-option ng-repeat="item in LanguagesList" ng-value="item.value">
                            {{item.text}}
                        </md-option>
                    </md-select>
                </div>
                <div class="form-group">
                    <md-input-container flex="" style="width:100%;">
                        <label for="Username">{{ 'LoginId' | translate }}</label>
                        <input required type="text" ng-model="LoginId" class="form-control" name="LoginId" md-autofocus />
                        <div ng-messages="loginForm.LoginId.$error" >
                            <div ng-message="required">{{ 'RequiredFieldMsg' | translate }}</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="form-group">
                    <md-input-container flex="" style="width:100%;">
                        <label for="password">{{ 'Password' | translate }}</label>
                        <input type="password" name="UserPassword" class="form-control" ng-model="UserPassword" required />
                        <div ng-messages="loginForm.UserPassword.$error">
                            <div ng-message="required">{{ 'RequiredFieldMsg' | translate }}</div>
                        </div>
                    </md-input-container>
                </div>
                <div class="form-group">
                    <button type="submit" ng-disabled="loginForm.LoginId.length ==0  && loginForm.UserPassword.length ==0" class="btn btn-block btn-primary" id="btnLogin">
                        {{'LoginButtonText'|translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>
    <script src=@Url.Content("~/Scripts/jquery-1.10.2.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/angular/angular.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/angular-route.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/angular-animate/angular-animate.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/angular-aria/angular-aria.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/angular-material/angular-material.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/angular-messages.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/ng-file-upload/ng-file-upload-shim.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/ng-file-upload/ng-file-upload.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/angular-spinner/spin.min.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/angular-spinner/angular-loading-spinner.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/angular-spinner/angular-spinner.min.js") type="text/javascript"></script>

    <script src=@Url.Content("~/Scripts/trNgGrid/trNgGrid.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/angular-translate/angular-translate.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/angular-translate-loader-static-files/angular-translate-loader-static-files.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/angular-translate-loader-static-files/angular-translate-storage-local.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/angular-cookies/angular-cookies.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/app/app.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/app/services/modalService.js") type="text/javascript"></script>
    <script src=@Url.Content("~/Scripts/app/controllers/LoginController.js") type="text/javascript"></script>
</body>
</html>
