﻿@model WebApp.Models.LoginModel
@{

    Layout = null;
    <style>
        aside, header, footer{
            display:none !important;
        }

        .wrapper{
            background-color: #ecf0f5 !important;
        }
    </style>
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        md-toast.md-error-toast-theme div.md-toast-content {
            color: white !important;
            background-color: red !important;
        }

        md-toast.md-success-toast-theme div.md-toast-content {
            color: white !important;
            background-color: green !important;
        }
        img{
            height:60px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="wrapperContent">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <img src="~/Images/logo-mb.png" />
                </div>
                <div class="panel-body form-login">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", name = "loginForm1" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-sm-3">
                                @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                            </div>
                            <div class="col-sm-9">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-3">
                                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            </div>
                            <div class="col-sm-9">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button id="btnLoginOk" type="submit" class="btn btn-sm btn-info"> <i class="fa fa-sign-in"></i> Login </button>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
