﻿@{
    ViewBag.Title = "Audit Tool";
}
<script>
    $(document).ready(function () {
        $(".sidebar-menu a").removeClass("active");
        $("#lnkAuditTool").addClass("active");
    })
</script>
<div ng-controller="AuditToolController" ng-cloak>
    <div class="box box-primary">
        <div class="box-header with-border">
            <i class="fa fa-gbp"></i>
            <h1 class="box-title">
                Audit Tool
            </h1>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="row margin-bottom-20" >
                <div class="col-lg-12">
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                   
                </div>
            </div>
        </div><!-- /.box-body -->
    </div>
</div>


