﻿@{
    ViewBag.Title = "Send to Bank";
}
<script>
    $(document).ready(function () {
        $(".sidebar-menu a").removeClass("active");
        $("#lnkPaymentProcessing").addClass("active");
    })
</script>

<div ng-controller="SendToBankController" ng-cloak>
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="col-lg-6">
                <i class="fa fa-gbp"></i>
                <h1 class="box-title">
                    Send to Bank
                </h1>
            </div>
            <div class="col-lg-4">
                <span class="input-group col-lg-12">
                    <input type="text" aria-controls="dataTables-example" placeholder="Search" ng-model="filterBy" ng-change="onChange()" class="form-control ng-pristine ng-untouched ng-valid header-input ng-empty" aria-invalid="false">
                    <span class="input-group-btn">
                        <a class="btn clear-filter ng-hide" ng-show="filterBy.length>0" data-ng-click="clearSearchParams()" aria-hidden="true"><span class="fa fa-remove"></span></a>
                    </span>
                </span>
            </div>
            <div class="col-lg-2">
                <md-button class="md-raised md-primary" ng-click="gotoPaymentFiles()">
                    Back
                </md-button>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="page">
                        <div class="panel panel-default">
                            <div class="table-flip-scroll padding-left-20 padding-right-20">
                                <div style="overflow: auto; white-space: nowrap;">
                                    <table class="table table-striped table-hover" tr-ng-grid="" items='PaymentTransactionDetails' page-items="PageSize" total-items="TotalRecordsCount" on-data-required-delay="5" enable-filtering="false" enable-pinning="true"
                                           on-data-required="onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)"
                                           fields="['ChequeRunNumber','PaymentTransactionID','FileTotal','PayerBankAccount',
                           'BankingApplication','StopRequests','Status','DateExported','DateCompleted','CompletedBy','ApplicationReference'
                           ]" selection-mode="None" enable-sorting="true">
                                        <thead>
                                            <tr>
                                                <th field-name="ChequeRunNumber" display-name="Payment File ID" enable-sorting="true"></th>
                                                <th field-name="PaymentTransactionID" display-name="Transaction ID" enable-sorting="true"></th>
                                                <th field-name="FileTotal" display-name="File Total" enable-sorting="true"></th>
                                                <th field-name="PayerBankAccount" display-name="Payer Bank Account" enable-sorting="true"></th>
                                                <th field-name="BankingApplication" display-name="Application" enable-sorting="true"></th>
                                                <th field-name="StopRequests" display-name="Stop Requests" enable-sorting="true"></th>
                                                <th field-name="Status" display-name="Status" enable-sorting="true"></th>
                                                <th field-name="DateExported" display-name="Date Exported" enable-sorting="true"></th>
                                                <th field-name="DateCompleted" display-name="Date Completed" enable-sorting="true"></th>
                                                <th field-name="CompletedBy" display-name="Completed By" enable-sorting="true"></th>
                                                <th field-name="ApplicationReference" display-name="Application Reference" enable-sorting="true"></th>
                                            </tr>
                                        </thead>
                                        <tbody ng-show="false" >
                                            <tr>
                                                <td field-name="ChequeRunNumber">
                                                    <md-button class="md-primary" ng-click="paymentDetails(gridItem)">{{gridItem.ChequeRunNumber}}</md-button>
                                                </td>
                                                <td>
                                                    <md-button class="{{(gridItem.Status=='Awaiting Export' && gridItem.StopRequests==0)?'md-raised md-primary':(gridItem.StopRequests>0)?'md-raised':'md-raised md-warn'}}" ng-click="sendToBank(gridItem)" ng-disabled="{{gridItem.StopRequests>0}}">
                                                        {{gridItem.Status=='Awaiting Export' && gridItem.StopRequests==0 ? 'Export File': (gridItem.Status=='Complete' && gridItem.StopRequests==0 ? 'Regenerate': (gridItem.Status=='Exported to Bank' && gridItem.StopRequests==0)? 'Complete/Cancel':'Export File')}}
                                                    </md-button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot >
                                            <tr>
                                                <td>
                                                    <div class="clearfix">
                                                        <div class="col-sm-4 text-left">
                                                            <span class="form-group">
                                                                Show
                                                                <md-input-container>
                                                                    <md-select ng-model="pPageSizeObj.selected" ng-change="changePageSize()">
                                                                        <md-option ng-repeat="item in pageSizeList" ng-value="item.value">
                                                                            {{item.text}}
                                                                        </md-option>
                                                                    </md-select>
                                                                </md-input-container>
                                                                Entries Per Page
                                                            </span>
                                                        </div>
                                                        <div class="col-sm-8 text-right">
                                                            <span tr-ng-grid-pager=""></span>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>


                        </div>

                        <div class="col-lg-4 col-md-6 panel panel-default">
                            <div class="table-flip-scroll padding-left-20 padding-right-20">
                                <table class="ng-isolate-scope tr-ng-grid table">
                                    <thead>
                                        <tr>
                                            <th>
                                                Currency
                                            </th>
                                            <th>
                                                Total
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                GBP
                                            </td>
                                            <td>
                                                {{GBPCurrencyTotal}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                EUR
                                            </td>
                                            <td>
                                                {{EURCurrencyTotal}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.box-body -->
    </div>


    <div style="visibility: hidden">
        <div class="md-dialog-container custom-dialog" id="cancelCompleteDialog">
            <md-dialog layout-padding>
                <h4>Complete/Cancel Payment</h4>
                <p>
                    Please select an outcome of the Export issued on {{DateExported}}. To cancel the export and confirm the batch has been destroyed in the Banking Application, click Cancel:
                </p>
                <div>
                    <md-button class="md-raised md-warn md-button" ng-click="cancelDialogPayment()">Cancel</md-button>
                </div>
                <p>
                    Otherwise, to confirm that the Banking Application has imported the file and that the Payment Batch has been sent, please click Complete:
                </p>
                <div>
                    <md-button class="md-primary md-raised" ng-click="completeDialogPayment()">Complete</md-button>
                </div>
            </md-dialog>
        </div>

        <div class="md-dialog-container custom-dialog" id="cancelDialog">
            <md-dialog layout-padding>
                <h4>Cancel Payment</h4>
                <p>
                    Before making the Exported File as Cancelled, the Batch must be deleted within the Banking Application to ensure no duplication of payments occurs.
                </p>
                <p>
                    <md-checkbox ng-model="chkConfirmCancelled">
                        I confirm that the Payment Batch has been deleted from the Banking Application.
                    </md-checkbox>
                </p>
                <div>
                    <md-button class="md-raised md-warn md-button" ng-click="cancelDialogConfirmPayment()">Confirm Cancelled</md-button>
                    <md-button class="md-primary md-raised" ng-click="closePopup()">Exit without Cancelling</md-button>
                </div>
            </md-dialog>
        </div>

        <div class="md-dialog-container custom-dialog" id="completeDialog">
            <md-dialog layout-padding>
                <form name="CompletePayment" novalidate ng-submit="completeDialogCompletePayment()">
                    <h4>Complete Payment</h4>
                    <p>
                        Please enter the reference from the Banking Application for the Payment Batch:
                    </p>
                    <div>
                        <md-input-container class="md-block">
                            <label>Banking Application Reference</label>
                            <input ng-model="ApplicationReference" required name="ApplicationReference" md-autofocus>
                            <div ng-show="CompletePayment.$submitted || CompletePayment.ApplicationReference.$touched">
                                <div ng-messages="CompletePayment.ApplicationReference.$error">
                                    <div ng-message="required">Please enter Banking Application Reference</div>
                                </div>
                            </div>
                        </md-input-container>
                    </div>
                    <p>
                        <md-checkbox ng-model="chkConfirmComplete">
                            I confirm that the Payment Batch has been imported and payments sent from the Banking Application.
                        </md-checkbox>
                    </p>
                    <div>
                        <md-button class="md-raised md-warn md-button" ng-click="closePopup()">Cancel</md-button>
                        <md-button class="md-primary md-raised" type="submit">Complete</md-button>
                    </div>
                </form>
            </md-dialog>
        </div>

        <div class="md-dialog-container custom-dialog" id="exportDialog">
            <md-dialog layout-padding>
                <h4>Export to Bank</h4>
                <p>
                    <md-checkbox ng-model="chkConfirmExport">
                        I confirm to export the Payment Batch has to the Banking Application.
                    </md-checkbox>
                </p>
                <div>
                    <md-button class="md-raised md-warn md-button" ng-click="closePopup()">Cancel</md-button>
                    <md-button class="md-primary md-raised" ng-click="exportDialogConfirmPayment()">Export</md-button>
                </div>
            </md-dialog>
        </div>

        <div class="md-dialog-container custom-dialog" id="regenerateDialog">
            <md-dialog layout-padding>
                <h4>Regenerate Payment Batch to Bank</h4>
                <p>
                    <md-checkbox ng-model="chkConfirmRenerate">
                        I confirm to regenerate the Payment Batch to the Banking Application.
                    </md-checkbox>
                </p>
                <div>
                    <md-button class="md-raised md-warn md-button" ng-click="closePopup()">Cancel</md-button>
                    <md-button class="md-primary md-raised" ng-click="regenerateDialogConfirmPayment()">Regenerate</md-button>
                </div>
            </md-dialog>
        </div>
    </div>
</div>

<style>
    .custom-dialog {
        left: 30%;
        width: 700px;
    }
</style>