﻿
@{
    ViewBag.Title = "Payment File Details";
}
<script>
    $(document).ready(function () {
        $(".sidebar-menu a").removeClass("active");
        $("#lnkPaymentProcessing").addClass("active");
    })
</script>
<div ng-controller="PaymentFileDetailsController" ng-cloak>
    <div class="box box-primary">
        <div class="box-header with-border">
            <div class="col-lg-6">
                <i class="fa fa-gbp"></i>
                <h1 class="box-title">
                    Payment File Details
                </h1>
            </div>
            <div class="col-lg-4">
                <span class="input-group col-lg-12">
                    <input type="text" aria-controls="dataTables-example" placeholder="Search" ng-model="filterBy" ng-change="onChange()" class="form-control ng-pristine ng-untouched ng-valid header-input ng-empty" aria-invalid="false">
                    <span class="input-group-btn">
                        <a class="btn clear-filter ng-hide" ng-show="filterBy.length>0" data-ng-click="clearSearchParams()" aria-hidden="true"><span class="fa fa-remove"></span></a>
                    </span>
                </span>
            </div>
            <div class="col-lg-2">
                <md-button class="md-raised md-primary" ng-click="gotoPaymentFiles()">
                    Back
                </md-button>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="page">
                        <div class="panel panel-default">
                            <div class="table-flip-scroll padding-left-20 padding-right-20">
                                <table tr-ng-grid="" items='PaymentFileDetails' page-items="PageSize" total-items="TotalRecordsCount" on-data-required-delay="5" enable-filtering="false"
                                       on-data-required="onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)"
                                       fields="['ChequeRunNumber','PaymentTransactionID','ClaimReference','Currency','TotalAmount','PayeeName', 'PayeeReference','DateIssued','StopRequests']" selection-mode="None" enable-sorting="true">
                                    <thead>
                                        <tr>
                                            <th field-name="ChequeRunNumber" display-name="Payment File ID" enable-sorting="true"></th>
                                            <th field-name="PaymentTransactionID" display-name="Payment Transaction ID" enable-sorting="true"></th>
                                            <th field-name="ClaimReference" display-name="Claim Reference" enable-sorting="true"></th>
                                            <th field-name="Currency" display-name="Currency" enable-sorting="true"></th>
                                            <th field-name="TotalAmount" display-name="Total Amount" enable-sorting="true"></th>
                                            <th field-name="PayeeName" display-name="Payee Name" enable-sorting="true"></th>
                                            <th field-name="PayeeReference" display-name="Payee Reference" enable-sorting="true"></th>
                                            <th field-name="DateIssued" display-name="Date Issued from ICE" enable-sorting="true"></th>
                                            <th field-name="StopRequests" display-name="Stop Requested?" enable-sorting="true"></th>
                                        </tr>
                                    </thead>
                                    <tbody ng-show="false">
                                        <tr>
                                            <td field-name="PaymentTransactionID">
                                                <md-button class="md-primary" ng-click="viewTransactionDetails(gridItem)">{{gridItem.PaymentTransactionID}}</md-button>
                                            </td>
                                            <td field-name="ClaimReference">
                                                <md-button class="md-primary" ng-click="viewClaimReferenceDetails(gridItem)">{{gridItem.ClaimReference}}</md-button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot ng-show="false">
                                        <tr>
                                            <td>
                                                <div class="clearfix">
                                                    <div class="col-sm-4 text-left">
                                                        <span class="form-group">
                                                            Show
                                                            <md-input-container>
                                                                <md-select ng-model="pPageSizeObj.selected" ng-change="changePageSize()">
                                                                    <md-option ng-repeat="item in pageSizeList" ng-value="item.value">
                                                                        {{item.text}}
                                                                    </md-option>
                                                                </md-select>
                                                            </md-input-container>
                                                            Entries Per Page
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-8 text-right">
                                                        <span tr-ng-grid-pager=""></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.box-body -->
    </div>
</div>
