﻿
@{
    ViewBag.Title = "Payment Processing";
}
<script>
    $(document).ready(function () {
        $(".sidebar-menu a").removeClass("active");
        $("#lnkPaymentProcessing").addClass("active");
    })
</script>
<div ng-controller="PaymentFilesController" ng-cloak>
    <div class="box box-primary">
        <div class="box-header with-border">
        <div class="col-lg-8">
            <i class="fa fa-gbp"></i>
            <h1 class="box-title">
                Payment Files
            </h1>
        </div>
            <div class="col-lg-4">
                <span class="input-group col-lg-12">
                    <input type="text" aria-controls="dataTables-example" placeholder="Search" ng-model="filterBy" ng-change="onChange()" class="form-control ng-pristine ng-untouched ng-valid header-input ng-empty" aria-invalid="false">
                    <span class="input-group-btn">
                        <a class="btn clear-filter ng-hide" ng-show="filterBy.length>0" data-ng-click="clearSearchParams()" aria-hidden="true"><span class="fa fa-remove"></span></a>
                    </span>
                </span>
            </div>
        </div><!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="page">
                        <div class="panel panel-default">
                            <div class="table-flip-scroll padding-left-20 padding-right-20">
                                <table tr-ng-grid="" items='PaymentFiles' page-items="PageSize" total-items="TotalRecordsCount" on-data-required-delay="5" enable-filtering="false"
                                       on-data-required="onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)"
                                       fields="['ChequeRunNumber','DateIssued','DateImported','Status']" selection-mode="None" enable-sorting="true">
                                    <thead>
                                        <tr>
                                            <th field-name="ChequeRunNumber" display-name="Payment File ID" enable-sorting="true"></th>
                                            <th field-name="DateIssued" display-name="Date Issued" enable-sorting="true"></th>
                                            <th field-name="DateImported" display-name="Date Imported" enable-sorting="true"></th>
                                            <th field-name="Status" display-name="Status" enable-sorting="true"></th>
                                        </tr>
                                    </thead>
                                    <tbody ng-show="false">
                                        <tr>
                                            <td field-name="ChequeRunNumber">
                                                <md-button class="md-primary" ng-click="viewPaymentDetails(gridItem)">{{gridItem.ChequeRunNumber}}</md-button>
                                            </td>
                                            <td>
                                                <md-button class="md-raised md-primary" ng-disabled="{{gridItem.Status=='Stop Requests'}}" ng-click="sendToBank(gridItem)">
                                                    Send To Bank
                                                </md-button>
                                            </td>
                                        </tr>
                                    </tbody>

                                    <tfoot ng-show="false">
                                        <tr>
                                            <td>
                                                <div class="clearfix">
                                                    <div class="col-sm-4 text-left">
                                                        <span class="form-group">
                                                            Show
                                                            <md-input-container>
                                                                <md-select ng-model="pPageSizeObj.selected" ng-change="changePageSize()">
                                                                    <md-option ng-repeat="item in pageSizeList" ng-value="item.value">
                                                                        {{item.text}}
                                                                    </md-option>
                                                                </md-select>
                                                            </md-input-container>
                                                            Entries Per Page
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-8 text-right">
                                                        <span tr-ng-grid-pager=""></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.box-body -->
    </div>
</div>
