﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Claims Portal Retirement</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <style>
        .buttondemoBasicUsage section {
            background: #f7f7f7;
            border-radius: 3px;
            text-align: center;
            margin: 1em;
            position: relative !important;
            padding-bottom: 10px;
        }

        .buttondemoBasicUsage md-content {
            margin-right: 7px;
        }

        .buttondemoBasicUsage section .md-button {
            margin-top: 16px;
            margin-bottom: 16px;
        }

        .buttondemoBasicUsage .label {
            position: absolute;
            bottom: 5px;
            left: 7px;
            font-size: 14px;
            opacity: 0.54;
        }
    </style>
    <script>
        var userRole="", isAuthenticated=""
        $(document).ready(function () {
            //if user session time out during any ajax call then display a Session timeout message and redirect to Login page
            $(document).ajaxError(function (e, xhr, settings) {
                var pathname = window.location.pathname;
                if (xhr.status == 253) {
                    location = "../Account/Login?ReturnUrl=" + pathname;
                    alert("Your Session has Expired");
                }
            });
        });
    </script>
</head>

<body class="hold-transition sidebar-mini" ng-app="CPRApp" ng-cloak>
    <div class="wrapper">
        <header class="main-header">
            <nav class="navbar navbar-default navbar-static-top">
                <div class="logo">
                    <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><img src="~/Images/logo-mb.png" class="img-responsive" /></span>
                    <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><img src="~/Images/mce-bsb.png" class="img-responsive" /></span>
                </div>
                <!-- Sidebar toggle button-->
                <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>

                        </li>
                        @if (Request.Cookies["MCE_CPR_UserName"] != null)
                        {
                            <li class="welcome"> Welcome @Request.Cookies["MCE_CPR_UserName"].Value</li>
                            <li class="">
                                <a href="#/account/logout"><i class="fa fa-sign-out fa-fw"></i>Log off</a>
                            </li>
                        }
                        else
                        {
                            Response.Redirect("/account/login");
                        }

                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar" id="nav-container">
            <section class="sidebar">
                <ul class="sidebar-menu">
                    <li><a id="lnkPaymentProcessing" href="#/payment-processing"><i class="fa fa-cogs"></i> <span>Payment Processing</span></a></li>
                    <li><a id="lnkAuditTool" href="#/audit-tool"><i class="fa fa-cogs"></i> <span>Audit Tool</span></a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper padding-top-20">
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <span>&copy; @DateTime.Now.Year - Claims Portal Retirement</span>
        </footer>

        <span id="spnLoading" class="overlay" us-spinner="{radius:30, width:8, length: 16}">
        </span>
    </div>
  

</body>
</html>
