﻿
@{
    ViewBag.Title = "PageNotFound";
}


<div class="box box-primary">
    <div class="box-header with-border">
        <i class="fa fa-gbp"></i>
        <h1 class="box-title">
            Page Not Found
        </h1>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row margin-bottom-20">
            <div class="col-lg-12">
                <a href="#/payment-processing" class="md-primary">Home</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                We are sorry the page you are looking for could not found

            </div>
        </div>
    </div><!-- /.box-body -->
</div>

